.list-item {
    position: relative;
    margin: 2rem auto;
    width: 600px;
    height: 4rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.list-item:hover {
    background-color: red;
    transition: all 2s ease;
}

.list-item__date {
    position: absolute;
    width: 80%;
    text-align: center;
}

.list-item__rate {
    position: absolute;
    right: 5%;
}

.list-item__delete {
    padding-top: 1rem;
    text-align: center;
    height: 100%;
}

.green {
    background-color: #cde39784;
}

.orange {
    background-color: #ffa34d84;
}

.red {
    background-color: #f76a8c84;
}

@media screen and (max-width: 600px) {
    .list-item {
        width: 100%;
    }
}